* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  width: 80%;
  margin: auto auto;

}
.navbar {
  display: flex;
  justify-content: left;
  align-items:center;
  
}
.navbar h1 {
  font-size: 2rem;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar li {
  margin-right: 1.8rem;
}
.main-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.main-body h1{
  font-size: 70px;
  width: 50%;
  line-height: 4rem;
  
}
.main-body p {
  font-size: 1.1rem;
  width: 45%;
}
.main-body button {
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
  width: 15%;
  text-align: center;
  padding: 10px;
  margin-top: 3rem;
}
select {
  border: none;
}